body {
  background-color: black;
}
/*Globales*/
h1,
h2,
h3 {
  color: rgb(19, 124, 223);
  font-weight: bold;
  text-align: center;
}
p {
  color: white;
  text-align: center;
  margin: 0;
}
button {
  width: 200px;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(19, 124, 223);
  color: white;
}

/*Pagina princiapal*/

.imagen {
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 720px) {
  .imagen {
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.app {
  background-color: rgba(0, 0, 0, 0.781);
  margin: 0 auto;
  height: 100vh;
}
@media (min-width: 768px) {
  .app {
    background-color: rgba(0, 0, 0, 0.781);
    margin: 0 auto;
    width: 100vh;
  }
}
.header {
  padding: 1rem;
}
.tabs {
  text-align: center;
  margin-top: 1rem;
  display: block;
}
.tabs button {
  margin-top: 1rem;
}
@media (min-width: 720px) {
  .tabs {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 2px;
  }
}
.seccion {
  display: none;
 
}
.listado-servicios {
  padding: 1rem;
}

@media (min-width: 720px) {
  .listado-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: rgba(0, 0, 0, 0.781);
    
  }
}
.servicio {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}
@media (min-width: 720px) {
  .servicio {
    background-color: white;
    padding: 1rem;
    margin-bottom: 0;
    border-radius: 0.8rem;
  }
}
.nombre-servicio {
  color: black;
}
.precio-servicio {
  color: rgb(19, 124, 223);
  font-size: 2rem;
  font-weight: bold;
}
.seleccionado {
  background-color: rgb(19, 124, 223);
  color: white;
}
.seleccionado p {
  color: white;
}
.mostrar-seccion {
  display: block !important;
}
.actual {
  background-color: rgb(19, 124, 223);
  color: white;
}
.paginacion {
  display: flex;
  justify-content: space-between;
}
.paginacion button {
  background-color: rgb(19, 124, 223);
  color: white;
}
.paginacion button.ocultar {
  visibility: hidden;
}

/*formulario de cita*/
.formulario {
  width: 100%;
}
.campo {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
label {
  flex: 0 0 8rem;
  color: white;
}
input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.invalidar-cita {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.alerta {
  padding: 1rem;
  text-align: center;
  color: white;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
.error {
  background-color: rgb(194, 0, 0);
}

/*Resumen*/
.contenido-resumen {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contenido-resumen span {
  font-weight: bold;
}
.contenido-resumen p {
  margin-bottom: 1rem;
}
p.total {
  font-size: 2rem;
  color: rgb(19, 124, 223);
  font-weight: bold;
}

/*Login*/
.btn-login {
  background-color: rgb(19, 124, 223);
  padding: 0.8rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-login:hover {
  background-color: rgb(30, 99, 163);
  color: white;
}
